<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/header.ejs %>
	</head>
	<body>
    <% include ../partials/nav2.ejs %>
    <br>
    <h1>Users App</h1>
    <div class="row">
      <div class="info">
        <p>Time: <%= chattime %></p>
        <b><%= pd %></b>
      </div>
      <div class="info">
        <p><!-- Time --></p>
        <p id="ptime2">{{ time }}</p>
        <p id="pduration"></p>
      </div>
    </div>
    <br>
    <div>
      <div>
        <h1>Contacts websystem</h1>
      </div>
    </div>
    <br>
    <b>Register</b>
    <br>
    <div>
      <form class="frmlogin" action="/usersapp/register" method="post">
        <div class="dvcont">
          <label>Name:</label><br>
          <input class="cinpt" type="text" id="firstname" name="firstname" placeholder="name" maxlength="299" required />
        </div>
        <div class="dvcont">
          <label>Surname:</label><br>
          <input class="cinpt" type="text" id="surname" name="surname" placeholder="surname" maxlength="299" required />
        </div>
        <div class="dvcont">
          <label>Username:</label><br>
          <input class="cinpt" type="text" id="username" name="username" placeholder="username" maxlength="299" required />
        </div>
        <div class="dvcont">
          <label>Password:</label><br>
          <input class="cinpt" type="password" id="userpassword" name="userpassword" value="" placeholder="password" maxlength="299" required />
        </div>
        <div class="dvcont">
          <label>email:</label><br>
          <input class="cinpt" type="email" id="email" name="email" placeholder="email" maxlength="299" required />
        </div>
        <div class="dvcont">
          <label>Home number:</label><br>
          <input class="cinpt" type="text" id="homenumber" name="homenumber" placeholder="homenumber" maxlength="299"/>
        </div>
        <div class="dvcont">
          <label>Cell number:</label><br>
          <input class="cinpt" type="text" id="cellnumber" name="cellnumber" placeholder="cellnumber" maxlength="299" />
        </div>
        <div class="dvcont">
          <label>Notes title:</label><br>
          <p><textarea id="notestitle" name="notestitle" placeholder="notestitle." rows="2" maxlength="250">{{ chatmessage }}</textarea></p>
        </div>
        <div class="dvcont">
          <label>Notes description:</label><br>
          <p><textarea id="notesdescription" name="notesdescription" placeholder="notesdescription." rows="3" maxlength="999">{{ chatmessage }}</textarea></p>
        </div>
        <div class="dvcont">
          <label>Ref:</label><br>
          <input class="cinpt" type="text" id="ref" name="ref" value="<%= chattoken1 %>" placeholder="chattoken" maxlength="190" required />
        </div>
        <p><input type="submit" id="btnRegister" value="Register"/></p>
      </form>
    <div>
    <br>
    <div class="pmessage">
      <p id="results"><%= results %></p>
      <p id="contacts"><%= message %></p>
    </div>

    <div>
      <img src="/images/pro2020.jpg" alt="Purple">
    </div>
    <hr>
    <footer>
      <br>
      <div id="dvsize"></div>
      <br>
    </footer>
    <script src="/js/app.js"></script>
    <script src="/js/main.js"></script>
	</body>
</html>
